/* Installed normalize.css with npm */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Custome Variables */
:root {
  font-size: 20px;
}

* {
  /* Removes all excess whitespace around elements */
  margin: 0;
  padding: 0;
  /* Remove all underlines from hyperlinks and all bullet points from lists */
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  /* Makes sure that any padding or border are accounted for in an element's width or height */
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
}

/* Sidbar Styles */
#sidebar {
  /* Sets position of sidebar to be constant on the page */
  position: fixed;
  width: 12rem;
  /* Sets sidebar viewheight to 100% */
  height: 100vh;
  /* background-color: #1F385C; */
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  /* border-right: 3px solid #FFFFFF; */

  transition: left 600ms ease;
}

#header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#logo {
  width: 9rem;
}

#chevron {
  display: none;
  position: fixed;
  margin: 1.5rem;

  transition: margin-left 600ms ease, transform 600ms ease;
}

#sidebar > ul > li {
  pointer-events: none;
  transition: background-color 0.3s ease-in;
}

#sidebar > ul > li:hover {
  background-color: #FFFFFF;
}

#sidebar > ul > li.active {
  background-color: #FFFFFF;
}

#sidebar > ul > li:first-child {
  pointer-events: auto;
  background-color: #000;
}

.menu-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;

  background-color: #000;
  color: #FFFFFF;
  left: 0;
  pointer-events: auto;
  /* Hover animation settings */
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in,
    left 0.3s ease-in
  ;
}

.menu-link.active .fa-solid,
.menu-link.active .menu-text {
  color: #000;
}

.menu-link:hover {
  background-color: #FFFFFF;
  left: 20%;
}

.menu-link.active {
  background-color: #FFFFFF;
  left: 0;
}

.menu-link:hover .fa-solid, .menu-link:hover .menu-text {
  color: #000;
}

.menu-text {
  margin-left: 1rem;
}

footer {
  /* If border-box was not present, would appear off the page */
  margin-top: auto;
  align-self: center;
}

/* <main> Styles */
main {
  /* Cuts off <main> from being behind the sidebar */
  margin-left: 12rem;
  display: flex;
  /* Centers horizontally */
  justify-content: center;
  /* Element needs height to be centered vertically */
  height: 100vh;
  align-items: center;
}

/* <main> Homepage Styles */
#home-wrapper {
  height: 40rem;
  width: 60rem;
  display: grid;
  /* Creating grid cells and filling them */
  grid-template-areas:
    "tasks small-reminder small-reminder"
    "tasks medium-reminder medium-reminder"
    "tasks medium-reminder medium-reminder"
  ;
}

#home-wrapper > div {
  /* border: 3px solid white; */
  border-radius: 10px;
  /* background-color: #1F385C; */
  padding: 1rem;
  /* margin: 1.5rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tasks {
  grid-area: tasks;
}

#task-container {
  width: 15rem;
  margin: 1rem 0;
}

#task-details {
  height: 50%;
  width: 15rem;
  /* background-color: red; */
}

#graph-container {
  width: 25rem;
}

#graphs {
  grid-area: medium-reminder;
  justify-content: center;
}

#clocks {
  grid-area: small-reminder;
  justify-content: center;
}

#clock-container {
  margin-top: 1rem;
}

/* <main> Create Task Styles */
.input-bar {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin: 0 0 2rem 0;
}

.form-input {
  font-size: inherit;
  position: absolute;
  width: 15rem;
  height: 3rem;
  top: 0;
  left: 0;
  padding: 0 1rem;
  border-radius: 12.5px;
  outline: none;
  border: 2px solid white;
  background-color: black;
  transition: all 160ms ease-in;
}

.form-textarea {
  font-size: inherit;
  position: absolute;
  color: white;
  padding: 1rem;
  border-radius: 12.5px;
  top: -0.5rem;
  outline: none;
  border: 2px solid white;
  background-color: black;
  transition: all 160ms ease-in;
}

.form-input:hover {

}

.form-input:focus, .form-textarea:focus {
  border-color: #3F7859;
}



.form-label {
  position: absolute;
  top: -0.5rem;
  font-size: 0.8rem;
  left: 1rem;
  padding: 0 0.25rem;
  cursor: text;
  background-color: black;
}

/* <main> About Styles */
#about-wrapper, #badges-wrapper, #settings-wrapper, #create-wrapper {
  width: 35rem;
  background-color: #1F385C;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

/* <main> Contact Styles */
#contact-form {
  width: 35rem;
  background-color: #1F385C;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
  border: 5px solid #FFFFFF;
  z-index: 2;
}

#contact-form > header {
  margin-bottom: 25px;
}

#contact-form > header > h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

#contact-form > input, textarea, button {
  color: black;
  margin: 10px 0;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

#contact-form > input {
  width: 70%;
}

#contact-form > button {
  margin: 25px 0;
  width: 35%;
  align-self: center;
  border: 3px solid #FFFFFF;
  background-color: #FFFFFF;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

#contact-form > button:hover {
  background-color: #3F7859;
  color: #FFFFFF;
}

/* Media Queries */
/* Took me 30 min to figure out I was missing a colon between width and 500px to explain it not working */
@media (max-width: 500px) {
  /* Sidebar Styles */
  #sidebar {
    left: -100%;
    width: 8rem;
    height: 100vh;
    background-color: #1F385C;
    z-index: 1;
  }

  #sidebar.active {
    left: 0;
  }

  #header {
    margin: 3rem 0 0 0;
  }

  #chevron {
    display: block;
    align-self: center;
    z-index: 2;
  }

  #chevron.active {
    margin-left: 3.75rem;
    transform: rotate(-180deg);
  }

  #logo {
    width: 3rem;
  }

  .menu-text {
    margin-left: 0.5rem ;
  }

  footer {
    display: none;
  }

  /* <main> Styles */
  main {
    margin-left: 0;
  }

  main.active {
    opacity: 25%;
  }

  #home-wrapper {
    height: 100vh;
    display: block;
  }

  #large-reminder {
    height: 70vh;
  }

  #medium-reminder {
    height: 60vh;
    margin-bottom: 10rem;
  }

  #small-reminder {
    height: 15vh;
  }

  #contact-form {
    width: 15rem;
  }

  #contact-form > button {
    width: 70%;
  }
}
