* {
  /* Removes all excess whitespace around elements */
  margin: 0;
  padding: 0;
  /* Remove all underlines from hyperlinks and all bullet points from lists */
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
  /* Makes sure that any padding or border are accounted for in an element's width or height */
  box-sizing: border-box;
}

#sidebar {
  /* Sets position of sidebar to be constant on the page */
  position: fixed;
  width: 200px;
  /* Sets sidebar viewheight to 100% */
  min-height: 100vh;
  background-color: #F37748;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
}

#header {
  text-align: center;
  margin-bottom: 50px;
}

.menu-item {
  text-align: center;
  padding: 15px 20px;
}

footer {
  /* If border-box was not present, would appear off the page */
  margin-top: auto;
  padding: 0 20px;
}
